doctype html
html
    head
        title=package.name
        meta(charset="utf-8")
        meta(name="description" content=package.description)
        link(rel="icon" href="data:,")
        script(type="text/javascript", src="main.js")

    body
        include pages/init
        include pages/main
